<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_BoxPacker>
            <version>1.0.0</version>
        </Mozg_BoxPacker>
    </modules>
    <global>
        <resources>
            <mozg_boxpacker_setup>
                <setup>
                    <module>Mozg_BoxPacker</module>
                    <class>Mozg_BoxPacker_Model_Resource_Setup</class>
                </setup>
            </mozg_boxpacker_setup>
        </resources>
        <blocks>
            <mozg_boxpacker>
                <class>Mozg_BoxPacker_Block</class>
            </mozg_boxpacker>
        </blocks>
        <helpers>
            <mozg_boxpacker>
                <class>Mozg_BoxPacker_Helper</class>
            </mozg_boxpacker>
        </helpers>
        <models>
            <mozg_boxpacker>
                <class>Mozg_BoxPacker_Model</class>
                <resourceModel>mozg_boxpacker_resource</resourceModel>
            </mozg_boxpacker>
            <mozg_boxpacker_resource>
                <class>Mozg_BoxPacker_Model_Resource</class>
                <entities>
                    <packing>
                        <table>mozg_boxpacker_packing</table>
                    </packing>
                    <packing_store>
                        <table>mozg_boxpacker_packing_store</table>
                    </packing_store>
                    <packing_comment>
                        <table>mozg_boxpacker_packing_comment</table>
                    </packing_comment>
                    <packing_comment_store>
                        <table>mozg_boxpacker_packing_comment_store</table>
                    </packing_comment_store>
                </entities>
            </mozg_boxpacker_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mozg_boxpacker>
                        <class>Mozg_BoxPacker_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mozg_boxpacker>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_BoxPacker before="Mage_Adminhtml">Mozg_BoxPacker_Adminhtml</Mozg_BoxPacker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_BoxPacker>
                    <files>
                        <default>Mozg_BoxPacker.csv</default>
                    </files>
                </Mozg_BoxPacker>
            </modules>
        </translate>
        <global_search>
            <packing>
                <class>mozg_boxpacker/adminhtml_search_packing</class>
                <acl>mozg_boxpacker</acl>
            </packing>
        </global_search>
        <layout>
            <updates>
                <mozg_boxpacker>
                    <file>mozg_boxpacker.xml</file>
                </mozg_boxpacker>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mozg_boxpacker>
                    <file>mozg_boxpacker.xml</file>
                </mozg_boxpacker>
            </updates>
        </layout>
        <routers>
            <mozg_boxpacker>
                <use>standard</use>
                <args>
                    <module>Mozg_BoxPacker</module>
                    <frontName>mozg_boxpacker</frontName>
                </args>
            </mozg_boxpacker>
        </routers>
        <translate>
            <modules>
                <Mozg_BoxPacker>
                    <files>
                        <default>Mozg_BoxPacker.csv</default>
                    </files>
                </Mozg_BoxPacker>
            </modules>
        </translate>
    </frontend>
    <default>
        <mozg_boxpacker>
            <packing>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Packings</meta_title>
            </packing>
        </mozg_boxpacker>
    </default>
</config>
